@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
}
header{
	margin: 0;
	position: relative;
	height: 900px;
}

.header-background-img{
	width: 100%;
	height: 900px;
	object-fit: cover;
	opacity: 0.8;
}
.header-up{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
}
.header-up-logolink{
	position: absolute;
	background-color: darkgray;
	padding: 10px;
}
.header-up-link{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #232222;
}
.logo-box1{
	opacity: 0.95;
}
.logo-box2{
	padding: 10px;
	color: aliceblue;
	font-size: 1.2cm;
	font-weight:1000;
}
.header-up-ul{
	direction: rtl;
	padding: 20px;
}
.header-li{ 
	display: inline-block;
	padding: 10px;
	background-color: #A9A9A9;
	opacity: 0.8;
	font-size: 20px;
	font-weight: 600;
}
.header-li-word{
	padding:10px;
	background-color:#232222;
	color: #ffffff;
}
.header-mid{
	position: absolute; 
	top: 25%;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-mid-word-box{
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-mid-word{
	color: #FFFFFF;
	font-size: 3cm;
	font-weight:1000; 
}
.header-ul-mid{
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-li-mid-word{
	margin: 0 40px;
	padding: 10px;
	background-color: #282828;
	color: #ffffff;
	font-size: 1cm;
	font-weight: 600;
}
.body-box{
	margin: 0;
	padding: 30px;
	width: 100%;
	height: 900px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.body-box1{
	width: 50%; 
	padding: 30px;
	font-size: 2cm;
	font-weight: 600;
}
.body-box2{
	direction: rtl;
	width: 50%;
}
.body2-box{
	margin: 0;
	padding: 30px;
	width: 100%;
	height: 900px;
	display: flex;
	justify-content: center;
}
.body2-box1{ 
	padding: 10 30px;
	font-size: 2cm;
	font-weight: 600;
}
.body-box2{
	padding: 30px;
}